.favourites {
  background-color: rgb(220, 225, 193);
  padding: 30px;
}

.searchResults {
  background-color: rgb(238, 240, 247);
  padding: 30px;
}

.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
}