.recipe {
  padding: 10px;
  border: 1px solid #ccc;
  width: 340px;
  height: 470px;
  margin: 30px;
}

.recipe-title {
  height: 53px;
}

img {
  border: 1px solid #ccc;
  display: block;
  margin: 20px;
}

.recipe-buttons {
  width: 300px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.recipe-buttons button {
  margin: 10px 0;
}
