.show {
  position: fixed;
  top: 5vh;
  right: 5%;
  left: 5%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(202, 200, 176);
  overflow: auto;
  max-height: 85vh;
}

.noShow {
  display: none;
}

.show h2, .show h3, .show p, .show li {
  color: rgb(35, 61, 17);
}

.recipe-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recipe-details img {
  border: 1px solid rgb(109, 112, 96);
  border-radius: 10px;
  margin: 30px;
}

.ingredients li {
  margin-left: 10px;
  text-align: left;
  list-style: none;
}

.close {
  float: right;
  font-size: 2rem;
  background: none;
  border: 1px solid rgb(109, 112, 96);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

span {
  font-weight: bold;
}

a {
  color: blue;
  cursor: pointer;
}
