.App {
  text-align: center;
}

.App-header {
  background-image: url('../images/creveta-1327214.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 15%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  font-size: 4rem;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  padding: 2rem;
}

h1 {
  color: white;
}

h1 span {
  font-style: italic;
}

footer {
  border-top: 2px solid #ccc;
  background-color: #eee;
}

footer p {
  text-align: right;
  font-style: italic;
  padding: 30px;
  font-family: Helvetica, Tahoma, sans-serif;
}

footer img {
  float: left;
  width: 200px;
  border: none;
}

hr {
  width: 90%;
}