.showPrompt {
  font-style: italic;
  font-weight: bold;
}

.noShowPrompt {
  display: none;
}

#searchField {
  border: 2px solid rgb(50,50,50);
  padding: 5px;
}

.checkboxes {
  display: flex;
  justify-content: center;
}

fieldset {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

legend {
  font-weight: bold;
}

label {
  margin-right: 10px;
  white-space: nowrap;
  text-align: left;
  float: left;
  width: 130px;
}
